<a href="https://colab.research.google.com/github/aplum004/CSC221_aplum004/blob/main/assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pizza = ['cheese', 'mushroom', 'green pepper']
for name in pizza:
  print("I like " + name + " pizza")

I like cheese pizza
I like mushroom pizza
I like green pepper pizza

In [ ]:
animals = ['lions', 'cats', 'tigers']
for common in animals:
  print(common + " would be a great pet")
print("These animals are all felines")

lions would be a great pet
cats would be a great pet
tigers would be a great pet
These animals are all felines

In [ ]:
for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
num = list(range(1, 100000001))
min(num)
max(num)
sum(num)

5000000050000000

In [ ]:
for odd in range(1,21,2):
  print(odd)

1
3
5
7
9
11
13
15
17
19

In [ ]:
num = list(range(3,30,3))
for mul in num:
  print(mul)

3
6
9
12
15
18
21
24
27

In [ ]:
cube = list(value**3 for value in range (1,11))
for value in cube:
  print (value)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
cube = list(value**3 for value in range (1,11))
print(cube)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
animals = ['cat', 'lion', 'bear', 'rabbit', 'elephant']
print("The first three items in the list are: ")
print(animals[:3])
print("Three items from the middle of the list are :")
print(animals[1:4])
print("The last three items in the list are: ")
print(animals[2:])

The first three items in the list are:
['cat', 'lion', 'bear']
Three items from the middle of the list are :
['lion', 'bear', 'rabbit']
The last three items in the list are:
['bear', 'rabbit', 'elephant']

In [ ]:
pizza = ['cheese', 'mushroom', 'green pepper']
friend_pizzas = pizza[:]
pizza.append('veggie')
friend_pizzas.append('meat')
print("My fav pizza are: ")
for new in pizza:
  print(new)
print("My friends fav pizza are: ")
for new in friend_pizzas:
  print(new)

My fav pizza are:
cheese
mushroom
green pepper
veggie
My friends fav pizza are:
cheese
mushroom
green pepper
meat

In [ ]:
buffet = ('rice', 'chicken', 'potatoe', 'cake', 'pudding')
print("Original Menu")
for food in buffet:
  print(food)

buffet = ('rice', 'ribs', 'potatoe', 'cake', 'ice cream')
print("\nNew Menu")
for food in buffet:
  print(food)

Original Menu
rice
chicken
potatoe
cake
pudding

New Menu
rice
ribs
potatoe
cake
ice cream

In [ ]:
def factorial(n):
  product = 1
  for x in range(1, n + 1):
    product *=x
  print(product)
factorial(5)
factorial(10)

120
3628800

In [ ]:

def special_factorial(n):
  product = 1
  for x in range(1, n + 1):
    if x not in (4, 13, 22):
        product *= x
  print(product)
special_factorial(5)
special_factorial(10)

30
907200